@charset "utf-8";

#serach{
	min-width: 1263px;
	width: 100%;
	background-image: url(../img/serach.jpg);
	height:681px;
	background-repeat: no-repeat;
	background-position: center;
	position:relative;
}


#serach .input{
	width: 480px;
	height: 54px;
	background-color: #fff;
	position: absolute;
	top:35%;
	left:34%;
	border-radius:10px; 
	font-size: 24px;
}
#serach .find{
	width: 105px;
	height: 54px;
	background-color: #fff;
	position: absolute;
	top:35%;
	left:60%;
	border-radius:10px; 
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
}

#tour{
	width: 1980px;
	height: 1350px;
	margin: 30px auto;
	/*background-color: #333;*/
	text-align: center;
}
#tour .center h2{
	font-size: 45px;
	letter-spacing: 2px;
	color: #666;
	margin: 10px 0;
}
#tour .center p{
	color: #666;
	margin: 10px 0;
}

#tour figure{
	border: 1px  solid #ddd;
	display:inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width: 500px;
	color: #777;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: left;
	position: relative;
}

#tour figure img{
	vertical-align: middle;
}

#tour figcaption{
	text-align: left;
	padding: 7px 0 5px 0;
}
#tour .sat{
	float: right;
	font-size: 14px;
	color: #999;
	font-style: normal;
	position: relative;
	top: 5px;
	right: 5px;
}
#tour .money{
	font-size: 14px;
	color: #f60;
}
#tour .money strong{
	font-size: 20px;
	letter-spacing: 1px;
}

#tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #59b200;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 4px;
	margin-top: 4px;
}